{% extends 'credits/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Обзор' %}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body demo-only-element">
            <h5 class="card-title text-center">
                {{ direction.name }}
                <button class="btn btn-info" onclick="location.href=`{% url 'credits:edu-part-direction-credits' course.pk direction.pk %}`">{% trans 'Кредиты направления' %}</button>
            </h5>
            
            <div class="row">
                {% for group in direction.group_set.all %}
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-lg w-100 m-1" onclick="location.href=`{% url 'credits:edu-part-group' course.pk group.pk %}`">{{ group.name }}</button>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}