{% extends 'credits/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Активные семместры' %}{% endblock %}

{% block content %}
<div class="card">
    <h5 class="card-header">
        {% trans 'Последние семестры' %}
    </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Курс' %}</th>
                    <th>{% trans 'Последний семестр' %}</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <form method="post">
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.course }}</td>
                            <td>
                                <select name="course-{{ course.pk }}" id="course-{{ course.pk }}" class="form-select">
                                    <option value>{% trans 'Нет активного' %}</option>
                                    {% for semestr in course.semestr_set.all %}
                                        <option value="{{ semestr.pk }}" {% if coruse.last_semestr.pk == semestr.pk %}selected{% endif %}>{{ semestr.semestr }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if courses %}
                        {% csrf_token %}
                        <tr>
                            <td colspan="3" class="text-center">
                                <button class="btn btn-primary" type="submit">{% trans 'Сохранить' %}</button>
                            </td>
                        </tr>
                    {% endif %}
                </form>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}