{% load i18n %}
{% load static %}


<div class="table-responsive text-nowrap mb-4">
    <table class="table table-striped table-bordered mb-2">
        <thead>
            <tr>
                <th>#</th>
                <th>Hemis ID</th>
                <th>F.I.SH</th>
                <th>Ta'lim yo'nalishi</th>
                <th>Akademik guruhi</th>
                <th>Akademik qarzdor bo'lgan fan</th>
                <th>Ta'lim bosqichi</th>
                <th>Ta'lim tili</th>
                <th>Ta'lim shakli</th>
                <th>Akademik qarizdor bo'lgan fan o'quv yili</th>
                <th>Semestr</th>
                <th>Bir yillik kredit</th>
                <th>Fanga ajratilgan umumiy soat</th>
                <th>Ma'ruza</th>
                <th>Amaliy</th>
                <th>Semenar</th>
                <th>Laboratoriya</th>
                <th>MT</th>
                <th>Fan krediti</th>
                <th>Bir yillik shartnoma miqdori</th>
                <th>To'lanadigan kredit miqdor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for credit in credits %}
                <tr id="credit-{{ credit.pk }}" data-subject="{{ credit.subject_id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ credit.student.hemis_id }}</td>
                    <td>{{ credit.student.name }}</td>
                    <td>{{ credit.student.group.direction.name }}</td>
                    <td>{{ credit.student.group.name }}</td>
                    <td>{{ credit.subject.name }}</td>
                    <td>{{ credit.subject.semestr.course.course }}</td>
                    <td>{{ credit.student.group.language }}</td>
                    <td>{{ credit.student.group.direction.education_form }}</td>
                    <td>{{ credit.edu_year.year }}</td>
                    <td>{{ credit.subject.semestr.semestr }}</td>
                    <td>{{ credit.student.group.direction.edu_hours }}</td>
                    <td>{% if credit.subject.hours %}{{ credit.subject.hours }}{% endif %}</td>
                    <td>{% if credit.subject.lecture_hours %}{{ credit.subject.lecture_hours }}{% endif %}</td>
                    <td>{% if credit.subject.practice_hours %}{{ credit.subject.practice_hours }}{% endif %}</td>
                    <td>{% if credit.subject.seminar_hours %}{{ credit.subject.seminar_hours }}{% endif %}</td>
                    <td>{% if credit.subject.laboratory_hours %}{{ credit.subject.laboratory_hours }}{% endif %}</td>
                    <td>{% if credit.subject.independent_hours %}{{ credit.subject.independent_hours }}{% endif %}</td>
                    <td>{{ credit.subject.credits }}</td>

                    <td>
                        {% if credit.status != 'DEANERY_UPLOADED' %}{{ credit.student.group.direction.kontraktamount.amount }} сум{% endif %}
                    </td>
                    <td>
                        {% if credit.status != 'DEANERY_UPLOADED' %}{{ credit.amount }} сум{% endif %}
                    </td>

                    <td id="status"><span class="badge bg-label-info">{{ credit.get_status_display }}</span></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="15" class="text-center">{% trans 'Ничего не найдено' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>